# place this file to ~/.config/sshfs-wd/ folder if you want values different from defaults

# interactive define whether the watchdog asks user to provide additional data or not when needed
# in non interactive mode the absence of credentials will fail connection
#interactive=1

# possible values are gnomeKeychain or flatFiles
# flatFiles - credentials will be read and written to plain text files in ~/.passwords/
# gnomeKeychain - credentials are stored and retrieved from Gnome keychain
#SSHFS_WD_CREDENTIALS_ADAPTER=gnomeKeychain
